VITE_API_BASE_URL=https://nss-smart-community-platform.onrender.com/api
VITE_CLOUDINARY_UPLOAD_PRESET=nss_platform_preset
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_key
